
<!--div class="hello-message"-->

    <h3>Connect to Fitbit</h3>
    <br>
	<button type="button" id="fitbitButton" data-loading-text="Retrieving fitbit data" class="btn btn-primary" autocomplete="off" >
	  Fitbit
	</button>

	<script>
	  $('#fitbitButton').on('click', function () {
	  	var fitbit_url= 'https://www.fitbit.com/oauth2/authorize?response_type=code&client_id=228JF7&redirect_uri=https%3A%2F%2Flocalhost%3A5000%2Ffitbit-handler&scope=activity%20heartrate%20location%20nutrition%20profile%20settings%20sleep%20social%20weight&expires_in=604800';
	  	window.location=fitbit_url;
	  });
	</script>

