{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-body">

  <h2>Allow 23andMe to improve your genetic reports</h2>
  <br><br>

<!--div class="container">
  <section class="index-hello-world">
    <div class="index-hello-world-container"-->
  <section>{% include 'index/includes/hello_message.html' %}</section>


  <section>
    <h3>Connect to Facebook</h3>
    <script type="text/javascript">
     function fb_login() {
       FB.login(function(resp) {
         if (resp.authResponse) {
           console.log(resp.authResponse);
           var auth = resp.authResponse;
           window.location = '/facebook-handler?access_token=' + auth.accessToken + '&user_id=' + auth.userID;
         }
       })
     }
    </script>
    <br>
    <fb:login-button scope="user_posts,user_education_history,user_photos" onlogin="fb_login();"></fb:login-button>
  </section>

  <br><br>
  <h3> Research Phenotypes </h3>
  <br>
  <table class="table">
    <tr>
      <th>Phenotype ID</th>
      <th>Value</th>
    </tr>
    {% for k, v in phenotypes.items %}
    <tr>
      <td>{{k}}</td>
      <td>{{v}}</td>
    </tr>
    {% endfor %}
  </table>
  
</div>
{% endblock content %}
