{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <section class="index-hello-world">
    <div class="index-hello-world-container">
      {% include 'index/includes/hello_message.html' %}
    </div>
  </section>

  <section>
    <h1>Facebook</h1>
    <script type="text/javascript">
     function fb_login() {
       FB.login(function(resp) {
         if (resp.authResponse) {
           console.log(resp.authResponse);
           var auth = resp.authResponse;
           window.location = '/facebook-handler?access_token=' + auth.accessToken + '&user_id=' + auth.userID;
         }
       })
     }
    </script>
    <fb:login-button scope="user_posts,user_education_history,user_photos" onlogin="fb_login();"></fb:login-button>
  </section>

  <table class="phenos">
    <tr>
      <th>Phenotype ID</th>
      <th>Value</th>
    </tr>
    {% for k, v in phenotypes.items %}
    <tr>
      <td>{{k}}</td>
      <td>{{v}}</td>
    </tr>
    {% endfor %}
  </table>
  
</div>
{% endblock content %}
