// Site wide
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0 auto;
}

table.results {
  border-collapse: collapse;
}

table.results th,
table.results td {
  padding: 6px 10px;
  border: 1px solid #aaa;
}

@import "my_app/all";
